<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    
<body>
    <main class="containerProductos">
        <section class="container sproduct  pt-5">
           
                <div class=" row mt-5">
                    
                        <div class="col-lg-5 col-md-12 col-12 mx-auto">
                        <img class="img-fluid w-100" src="/image/imagenArticulos/<%=productos.imagen%> " alt="">
                        </div>

                        <div class="col-lg-5 col-md-12 col-12">
                            <h6>Home / productos</h6>
                            <h2 class="py-4"><%= productos.nombre%></h2>
                            <h3>$ <%= productos.precio%> </h3>
                            <select class="my-3">
                                <option value="">Selecciona plataforma</option>
                                <option value="">PC</option>
                                <option value="">Xbox</option>
                                <option value="">PlayStation</option>
                            </select>
                            <input type="number" value="1">
                            <button class="buy-btn">Agregar al carrito</button>
                            <H4 class="mt-5 mb-5">Detalles de producto</H4>
                            <span><%= productos.descripcion%></span>
                        </div>
                       
        

            </div>
            <br>
            
        </section>



    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>