<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
    <body>
        <%- include('../partials/header.ejs')%>
        
        <main class="registro">
            <h2>Formulario de Carga de Productos</h2>
            
            <form  class="formularioRegistro" action="/productos/create" method="post" enctype="multipart/form-data">
                
                
                <div class="etiqueta">
                    
                    <label>Genero:</label>
                    <p>
                         <select  class="input" name="genero" >
                                   
                         <option value="" disabled selected >-Seleccione Genero</option>
                            <% allgeneros.forEach(genero => { %> 
                                <option  value="<%= genero.id %>"><%= genero.nombre%></option>
                             <% }) %>    
                        </select>
                    </p>
                
                    </div>
                    <div class="etiqueta">
                        <label>Plataforma:</label>
                        <p>
                            <select  class="input"  name="categoria">
                                      
                                <option value="" disabled selected >-Seleccione Categoria</option>
                                     <% allcategorias.forEach(categoria => { %> 
                                        <option ame="categoria" value="<%= categoria.id %>"><%= categoria.nombre%></option>
                                      <% }) %>    
                                </select>
                       </p>
                            
                           
                    
                        </div>
                <div class="etiqueta">
                    <label>Nombre Producto</label>
                    <input class="input" type="text" name="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="etiqueta">
                    <label >Descripcion</label>
                    <input class="input" type="textarea" name="descripcion" placeholder="descripcion del producto">
                </div>
                <div class="etiqueta">
                    <label>Precio:</label>
                    <input class="input" type="number" name="precio"placeholder="ingrese precio">
            </div>
                    
            <div class="etiqueta">
                    <label>Ingresar Foto del Articulo</label>
                        <input  class="input" type="file" name="imagen" accept="image/*" multiple >
            </div> 
                
            </div>
            
            
                <input  class="botonEnvio" type="submit" value="Cargar producto">
            
            



        </form>

    



    </main>

<%- include('../partials/footer.ejs')%>
</body>

</html>