<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %>
    
    <main class="containerProductos">

        <h2> lista de Productos </h2>
                <% if(Array.isArray(productos)){%>
                    <% for(let i=0;i < productos.length; i++){%>
                    <li>
                            <p>
                                <h5>Name: <%= productos[i].nombre%></h5>
                            </p>
                            <p>
                                <h5>Descripcion: <%= productos[i].descripcion%></h5>
                            </p>
                            <p>
                                <h5>Precio: <%= productos[i].precio%></h5>
                            </p>
                            <img src="/image/imagenArticulos/<%=productos[i].imagen%> " alt="">
                        </li>
                    <%}%>
                  <%}else{%>
            <%}%>
       
 
    </main> 

    <%- include('../partials/footer.ejs') %> 
</body>
</html>