<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %>
    
    <main class="containerProductos">

        <h2> lista de Productos </h2>
                <% if(Array.isArray(productos)){%>
                    <% for(let i=0;i < productos.length; i++){%>
                    <li>
                            <p>
                                <h5>Name: <%= productos[i].nombre%></h5>
                            </p>
                            <p>
                                <h5>Precio: <%= productos[i].precio%></h5>
                            </p>
                        </li>
                    <%}%>
                  <%}else{%>
                <h3>Genero: <%= prod%></h3>
                <h3>E-mail: <%= user.email%></h3>
                <h2>Descripcion: <%= producto.descripcion%></h2>
            <%}%>
       
 
    </main> 

    <%- include('../partials/footer.ejs') %> 
</body>
</html>