<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
   <%- include('../partials/header.ejs') %>

   <main>

    <h2>Lista de usuarios</h2>

    <ol>
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
        
            <li>
                <a href="/usuario/<%=usuarios[i].id%> "><h3>Nombre: <%= usuarios[i].nombre%> <%=usuarios[i].apellido%> </h3></a>
                              
                
            </li>
        <% } %>
    </ol>





   </main>






   <%- include('../partials/footer.ejs') %>

    
    
</body>
</html>