<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
   <%- include('../partials/header.ejs') %>
    <main class="registro">
        <h2>inicia sesi칩n</h2>

        <form  class="formularioRegistro" action="/login" method="post">
            
            <div class="etiqueta">
                <label >Ingese su Email</label>
                    <input class="input" type="email" name="email" placeholder="Ingrese su Email">
                    <div class="text-danger">
                        <% if ( locals.errors && errors.email){ %>
                           <p> <%= errors.email.msg %> </p>
                        
                            <% } %> 
                         
                    </div>

            </div>
            <div class="etiqueta">
                <label>Ingrese su Contrase침a:</label>
                    <input class="input" type="password" name="password"placeholder="Ingrese su contrase침a">
                    <div class="text-danger">
                        <% if ( locals.errors && errors.password){ %>
                           <p> <%= errors.password.msg %> </p>
                        
                            <% } %> 
                         
                    </div>

            </div> 

            <input  class="botonEnvio" type="submit" value="Ingresar">

            <br>
            <br>
        
                        

            <div class="separador">
                <input class="recordar" type="checkbox" name="recordarUsuario">Recordar Usuario

            </div>      
                     
            <br>
        
            <p class="forget-password">Olvidaste tu contrase침a? <a href="#">click aca</a></p>
        
       


    </main>
    <%- include('../partials/footer.ejs') %>

    
    
</body>
</html>