<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

        
    <main class="registro">

        <h2>Formulario de Registro de Usuario</h2>

        <form  class="formularioRegistro" action='/register' method="POST" enctype="multipart/form-data">
            <div class="etiqueta">
                <label>Ingrese su Nombre:</label>
                    <input      
                    class="input" type="text" name="nombre">

                    <% if (locals.errors && errors.nombre) { %>
                        <div class="texto-error">
                            <%= errors.nombre.msg %> 
                        </div>
                 
                    <% } %>
            </div>
            <div class="etiqueta">
                <label>Ingrese su Apellido</label>
                    <input class="input" type="text" name="apellido" >
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="texto-error">
                            <%= errors.apellido.msg %> 
                        </div>
                     
                    <% } %>
            </div>
            <div class="etiqueta">
                <label >Ingese su Email</label>
                    <input class="input" type="email" name="mailusuario" >
                        <% if (locals.errors && errors.mailusuario) { %>
                            <div class="texto-error">
                                <%= errors.mailusuario.msg %> 
                            </div>
                     
                        <% } %>
            </div>
            <div class="etiqueta">
                <label>Ingrese su Contraseña:</label>
                    <input class="input" type="password" name="password">
                    <% if (locals.errors && errors.password) { %>
                        <div class="texto-error">
                            <%= errors.password.msg %> 
                        </div>
                     
                    <% } %>
            </div>
                        
            <div class="etiqueta">
                <label>Ingrese su localidad:</label>
                    <select  class="input" name="provincia">
                        <option value="">Provincia</option>
                            <option value="buenosAires">Buenos Aires</option>
                            <option value="caba">Ciudad Autonoma de Buenos Aires</option>
                            <option value="catamarca">Catamarca</option>
                            <option value="chaco">Chaco</option>
                            <option value="chubut">Chubut</option>
                            <option value="cordoba">Córdoba</option>
                            <option value="corrientes">Corrientes</option>
                            <option value="entreRios">Entre Ríos</option>
                            <option value="formosa">Formosa</option>
                            <option value="jujuy">jujuy</option>
                            <option value="laPampa">La Pampa</option>
                            <option value="laRioja">La Rioja</option>
                            <option value="mendoza">Mendoza</option>
                            <option value="misiones">Misiones</option>
                            <option value="neuquen">Neuquen</option>
                            <option value="rioNegro">Río Negro</option>
                            <option value="salta">Salta</option>
                            <option value="sanJuan">San Juan</option>
                            <option value="sanLuis">San Luis</option>
                            <option value="santaCruz">Santa Cruz</option>
                            <option value="santaFe">Santa Fe</option>
                            <option value="santiagoDelEstero">Santiago Del Estero</option>
                            <option value="tierraDelFuego">Tierra Del Fuego</option>

                            <% if (locals.errors && errors.provincia) { %>
                                <div class="texto-error">
                                    <%= errors.provincia.msg %> 
                                </div>
                             
                            <% } %>
                    </select>
                   
                </div>

                <div class="etiqueta">
                    <label>Ingrese su Foto de Perfil:</label>
                        <input  class="input" type="file" name="avatar" accept="image/*" >
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="texto-error">
                                <%= errors.avatar.msg %> 
                            </div>
                         
                        <% } %>

                </div> 
                <br>
                </div>
                <div class="registro">
                 <div class="etiqueta">
            
                <input  class="botonEnvio" type="submit" value="Registrarme">
            
                    <p><a href="login">Usuario ya registrado?</a></p>
              </div> 
            </div>



        </form>

    

    </main>
   
    <%- include('../partials/footer.ejs')%>

  
</body>
</html>