<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

        
    <main class="registro">

        <h2>Formulario de Registro de Usuario</h2>

        <form  class="formularioRegistro" action='/register' method="post" enctype="multipart/form-data">
            <div class="etiqueta">
                <label>Ingrese su Nombre:</label>
                    <input class="input" type="text" name="nombre">

                    <% if (locals.errors && errors.nombre) { %>
                        <div class="texto-error">
                            <%= errors.nombre.msg %> 
                        </div>
                 
                    <% } %>
            </div>
            <div class="etiqueta">
                <label>Ingrese su Apellido</label>
                    <input class="input" type="text" name="apellido" >
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="texto-error">
                            <%= errors.apellido.msg %> 
                        </div>
                     
                    <% } %>
            </div>
            <div class="etiqueta">
                <label >Ingese su Email</label>
                    <input class="input" type="email" name="mailusuario" >
                        <% if (locals.errors && errors.mailusuario) { %>
                            <div class="texto-error">
                                <%= errors.mailusuario.msg %> 
                            </div>
                     
                        <% } %>
            </div>
            <div class="etiqueta">
                <label>Ingrese su Contraseña:</label>
                    <input class="input" type="password" name="password">
                    <% if (locals.errors && errors.password) { %>
                        <div class="texto-error">
                            <%= errors.password.msg %> 
                        </div>
                     
                    <% } %>
            </div>
                        
            <div class="etiqueta">
                <label>Ingrese su Pais:</label>
                    <input type="text" class="input" name="pais">
                        
                </div>
                <div class="etiqueta">
                    <label>Ingrese su Ciudad </label>
                        <input type="text" class="input" name="ciudad">
                            
                    </div>
                <div class="etiqueta">
                        <label>Ingrese su Calle:</label>
                            <input type="text" class="input" name="calle">
                                
                        </div>    
                 <div class="etiqueta">
                        <label>Ingrese su numero :</label>
                            <input type="number" class="input" name="numero">
                                    
                            </div>

                <div class="etiqueta">
                    <label>Ingrese su Foto de Perfil:</label>
                        <input  class="input" type="file" name="avatar" accept="image/*" >
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="texto-error">
                                <%= errors.avatar.msg %> 
                            </div>
                         
                        <% } %>

                </div> 
                <br>
                </div>
                <div class="registro">
                 <div class="etiqueta">
            
                <input  class="botonEnvio" type="submit" value="Registrarme">
            
                    <p><a href="login">Usuario ya registrado?</a></p>
              </div> 
            </div>



        </form>

    

    </main>
   
    <%- include('../partials/footer.ejs')%>

  
</body>
</html>