<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

        
    <main class="registro">

        <h2>Formulario de Registro de Usuario</h2>


        <form  class="formularioRegistro" action='/register' method="post" enctype="multipart/form-data">
            
            
            <div class="etiqueta">

                <label>Ingrese su Nombre:</label>
                    <input class="input" type="text" name="nombre" value="<%=locals.old && old.nombre ? old.nombre :"" %> ">
                    <div class="text-danger">
                        
                        <% if ( locals.errors && errors.nombre){ %>
                            <p> <%= errors.nombre.msg %> </p>
                        <% } %> 
                       
                    </div>

                 
            </div>
                 
                    
            
            <div class="etiqueta">
                <label>Ingrese su Apellido:</label>
                    <input class="input" type="text" name="apellido" 
                    value="<%=locals.old && old.apellido ? old.apellido :"" %>">

                    <div class="text-danger">
                        
                        <% if ( locals.errors && errors.apellido){ %>
                            <p> <%= errors.apellido.msg %> </p>
                        <% } %> 
                       
                    </div>
            </div>
                  
                   
            
            
            <div class="etiqueta">
                <label >Ingese su Email</label>
                    <input class="input" type="email" name="email" value="<%=locals.old && old.email ? old.email:"" %>" >

                    <div class="text-danger">


                        <% if ( locals.errors && errors.email){ %>
                            <%= errors.email.msg %> 
                        
                            <% } %> 
                         
                    </div>

            </div>
                     
                        
            
            <div class="etiqueta">
                <label>Ingrese su Contraseña:</label>
                    <input class="input" type="password" name="password">
                    <div class="text-danger">                    
                            
                    </div>
                     
                    
            </div>
                        
            <div class="etiqueta">
                <label>Ingrese su Pais:</label>
                    <input type="text" class="input" name="pais" value="<%=locals.old && old.pais ? old.pais :"" %>">
                    <div class="text-danger">

                        <% if ( locals.errors && errors.pais){ %>
                            <%= errors.pais.msg %> 
                            <% } %> 
                            
                    </div>
                </div>
            
            <div class="etiqueta">
                    <label>Ingrese su Ciudad </label>
                        <input type="text" class="input" name="ciudad" value="<%=locals.old && old.ciudad ? old.ciudad :"" %>">
                        <div class="text-danger">
                            <% if ( locals.errors && errors.ciudad){ %>
                                <%= errors.ciudad.msg %> 
                                <% } %> 
                                

                        </div>
            </div>
                
            <div class="etiqueta">
                        <label>Ingrese su Calle:</label>
                            <input type="text" class="input" name="calle" value="<%=locals.old && old.calle ? old.calle :"" %>">
                            <div class="text-danger">

                                <% if ( locals.errors && errors.calle){ %>
                                    <%= errors.calle.msg %> 
                                <% } %> 
                                    

                            </div>
            </div>    

            <div class="etiqueta">
                        <label>Ingrese su numero :</label>
                            <input type="number" class="input" name="numero" value="<%=locals.old && old.numero ? old.numero :"" %>">
                            <div class="text-danger">

                                <% if ( locals.errors && errors.numero){ %>
                                     <%= errors.numero.msg %> 
                                <% } %> 
                                        

                            </div>
                </div>

            <div class="etiqueta">
                    <label>Ingrese su Foto de Perfil:</label>
                        <input  class="input" type="file" name="avatar" accept="image/*"  >
                       
                    </div>
                         
                        

             
            
             
             <div class="etiqueta">
            
                <input  class="botonEnvio" type="submit" value="Registrarme">
            
                    <p><a href="login">Usuario ya registrado?</a></p>
            </div> 
            



        </form>

    

    </main>
   
    <%- include('../partials/footer.ejs')%>

  
</body>
</html>