<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        <main>
            <section class="usuario">
                  
                <div>
                        <ul>

                            <li>
                                <h3>Bienvenido <%= user.nombre%> <%= user.apellido%></h3>
                                
                            </li>
                            <li>
                                <img src="image/avatar/<%= user.imagenusuario%> " alt="">
                            </li>
                            
                            <li>
                                <h3>Email: <%= user.email%> </h3>

                            </li>
                        </ul>


                </div>
                <br>
                
            </section>
            
            <section>

                <a href="/usuario/editar/<%= user.id %> ">
                    <button  class="botonEnvio" type="submit">EDITAR USUARIO</button>
                </a>
            </section>
           
                
           


        </main>    
    <%- include('../partials/footer.ejs') %>
</body>
</html>