<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    
<body>
    <main class="containerProductos">
        <h2>Producto solicitado: </h2>
        <br>

        <h3>Nombre del Producto : <%=product.nombreProducto%></h3>
        <h3>Precio: <%=product.precio %></h3>
        <h4>Categoria: <%=product.categoria%></h4>
        <br>
        <br>

        <h5>Descripcio: <%=product.descripcion%></h5>




    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>